<h1>Welcome to Volunteer Tracker</h1>

<div class="container">
  <a href="/projects">
    <button name="button" class="btn">View all Projects</button>
  </a>
  <a href="/projects/new">
    <button name="button" class="btn">Add new Project</button>
  </a>
</div>
