<h1>Update <%= @project.title() %></h1>

<form action="/projects/<%= @project.id() %>" method="post">
  <input type="hidden" name="_method" value="patch">
  <label for="title">Rename your Project:</label>
  <input id="title" type="text" name="title">
  <button type="submit" name="button">Update Project</button>
</form>
