<h3>Create a new project:</h3>

<form action="/lists" method="post">
  <label for="name">Project Name</label>
  <input id="name" name="name" type="text">

  <button type="submit">Create Project</button>
</form>
