<h3>Your Current Projects</h3>

<% if @projects.any?() %>
  <h5>Here are your projects:</h5>
  <ul>
    <% @projects.each() do |project| %>
      <li><a href="/projects/<%= project.id() %>"><%= project.title() %></a></li>
    <% end %>
  </ul>
  <% else %>
    <p>There are no projects yet!</p>
<% end %>
